.hero {
  background-color: #333;
}
.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_img {
}

@media screen and (max-width: 800px) {
  .hero_section {
    grid-template-columns: 1fr;
  }
  .hero_content {
    align-items: center;
  }
}
