.heroSection{
    margin: 20px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.leftSide{
    /* position: absolute;
    top:50%;
    left: 10%; */
}
.rightSide{
    /* position: absolute; */
    /* top:30%;
    right: 10%; */
}