@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

:root {
  --primary-color: #012169;
  --secondary-color: #430f58;
  --black: #000;
  --white: #fff;
  --light-white: #aaa;
  --max-width: 1200px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 4rem;
  /* color: var(--primary-color); */
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
.lead_text {
  color: #aaa;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  /* margin-bottom: 1rem; */
}
.smallP {
  font-size: 0.8rem;
  color: var(--light-white);
  padding-right: .5rem;
}

.section_container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 7rem 0;
}

.icon_style {
  margin: 1rem;
  color: var(--primary-color);
}

.box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.info-box {
  padding: 1rem;
  background-color: #fff;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}

/* section global style */
/* section {
  width: 100%;
  padding: 5rem 0;
} */
.section_header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.section_subheader {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

/* @media () {
  
} */

/* ant D Modification */
/* card */
.ant-card .ant-card-body {
  padding: 0;
}