@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  
  /* max-width: 1250px; */
}

body{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

:root {
  --primary-color: #055eab;
  --secondary-color: #430f58;
}
h1,h2,h3{
  /* margin-bottom: 1rem; */
 
}
h1 {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 2.5rem;
  padding: .5rem 0;
  /* color: var(--primary-color); */
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  color: #e4e4e4;
  font-size: 1rem;
}
.lead_text {
  color: #aaa;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  /* margin-bottom: 1rem; */
}

.container{
  padding: 5rem 0;
  margin: 0 auto;
}

.icon_style {
  margin: 1rem;
  color: var(--primary-color);
}

.box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.info-box {
  padding: 1rem;
  background-color: #fff;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}

/* section global style */
/* section {
  width: 100%;
  padding: 5rem 0;
} */
.section_header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--primary-color);
}

.section_subheader {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

/* @media () {
  
} */
